<div class="home">
  <div class="player-container">
    <!-- Song -->
    <div class="img-container">
      <img
        [src]="'../assets/img/' + currentSongName + '.jpg'"
        alt="Album Art"
      />
    </div>
    <h2 id="title">{{ allSongs[songIndex].displayName }}</h2>
    <h3 id="artist">{{ allSongs[songIndex].artist }}</h3>
    <audio
      [src]="'../assets/music/' + currentSongName + '.mp3'"
      #audioOption
    ></audio>
    <!-- Progress -->
    <div class="progress-container" id="progress-container">
      <div class="progress" id="progress" [style]="'width:'+progressWidth"></div>
      <div class="duration-wrapper">
        <span id="current-time">0:00</span>
        <span id="duration">{{duration}}</span>
      </div>
    </div>
    <!-- Controls -->
    <div class="player-controls">
      <i
        class="fas fa-backward"
        id="prev"
        title="Previous"
        (click)="prevSong(audioOption)"
      ></i>
      <i
        [ngClass]="[iconClass, 'fas', 'main-button']"
        id="play"
        [title]="title"
        (click)="playSong(audioOption)"
      ></i>
      <i
        class="fas fa-forward"
        id="next"
        title="Next"
        (click)="nextSong(audioOption)"
      ></i>
    </div>
  </div>
</div>
